<html>
<head>
<link rel="stylesheet" type="text/css"  href="http://localhost:8000/ext-3.1.1/resources/css/ext-all.css" />
<script type="text/javascript" src="http://localhost:8000/ext-3.1.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://localhost:8000/ext-3.1.1/ext-all-debug.js"></script>
</head>
<body>
<script type="text/javascript">
Ext.BLANK_IMAGE_URL="http://localhost:8000/ext-3.1.1/resources/images/default/s.gif";
Ext.onReady( function() {
  var viewport = new Ext.Viewport({
    layout: "fit",
    items: {
      layout:'absolute',
      items:[{
        title:'Item 1',
        html:'Content 1',
        width: 300,
        height: 300,
        x: 50,
        y: 50,
        layout: "absolute",
        items: [{
            xtype: "box",
            autoEl: {
                tag: "div",
                style: {border: "1px solid green"},
                html: "box 2"
            },
            width: 100,
            height: 100,
            x: 10,
            y: 10,
            pageX: 10,
            pageY: 10
            }
        ]
      },{
        title:'Item 3',
        html:'Content 3',
        width: 300,
        height: 300,
        x: 600,
        y: 320
      }]
    }
  });
});
</script>
</body>
</html>
