<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css"  href="http://localhost:8000/extjs/resources/css/ext-all.css" />
  <script type="text/javascript" src="http://localhost:8000/extjs/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="http://localhost:8000/extjs/ext-all-debug.js"></script>
</head>
<body>

<script type="text/javascript">
Ext.BLANK_IMAGE_URL="http://localhost:8000/extjs/resources/images/default/s.gif";
Ext.onReady( function() {
  Ext.QuickTips.init();
  var viewport = new Ext.Viewport({
    layout: "fit",
    items: {
      layout:'anchor',
      anchorSize: {width:800, height:600},
      //anchorSize: 400,
      items:[{
        title:'Item 1',
        html:'Content 1',
        //width:800,
        anchor:'right 20%'
      },{
        title:'Item 2',
        html:'Content 2',
        width:300,
        anchor:'50% 30%'
      },{
        title:'Item 3',
        html:'Content 3',
        //width:600,
        anchor:'-100 50%'
      }]
    }
  });
});
</script>

</body>
</html>
