<html>
<head>
<link rel="stylesheet" type="text/css"  href="http://localhost:8000/ext-3.1.1/resources/css/ext-all.css" />
<script src="http://localhost:8000/ext-3.1.1/adapter/ext/ext-base.js"></script>
<script src="http://localhost:8000/ext-3.1.1/ext-all-debug.js"></script>
</head>
<body>
<script type="text/javascript">
Ext.BLANK_IMAGE_URL="http://localhost:8000/ext-3.1.1/resources/images/s.gif";
Ext.onReady( function() {
var viewport = new Ext.Viewport({
    layout:'anchor',
    anchorSize: {width:300, height:600},
    items:[{
        id: "b1",
        xtype: "box",
        autoEl: {
            tag: "div",
            xxx: "my custom value",
            style: {border: "1px solid green"},
            html: "test span"
        },
        listeners: {
            "render": {
                fn: function(){console.log(arguments, this);},
                scope: Ext
            }
        },
        //width:0,
        anchor:'right 20%'
    },{
        id: "b2",
        html:'test default panel',
        //width:0,
        anchor:'right 30%'
    },{
        title:'Item 3',
        html:'Content 3',
        width:600,
        anchor:'-100 50%'
    }]
});
});
</script>
</body>
</html>
