<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css"  href="http://localhost:8000/extjs/resources/css/ext-all.css" />
  <script type="text/javascript" src="http://localhost:8000/extjs/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="http://localhost:8000/extjs/ext-all-debug.js"></script>
</head>
<body>
<style type="text/css">
.w-itmcls {
  border: 1px dotted yellow;
},
.w-clrcls {
  border: 1px dotted green;
  height: 10px;
  content: 'xxx'
}
</style>
<script type="text/javascript">
Ext.BLANK_IMAGE_URL="http://localhost:8000/extjs/resources/images/default/s.gif";
Ext.onReady( function() {
  Ext.QuickTips.init();
  var viewport = new Ext.Viewport({
    items: {
      xtype: "panel",
      width: 400,
      height: 300,
      layout: "form",
      frame: true,
      title: "Test form",
      labelWidth: 70,
      labelAlign: "right",
      items: [{
          xtype: "textfield",
          fieldLabel: "User",
          labelStyle: "color:gray;font-weight:bolder",
          labelSeparator: "<span style='color:red'>*</span>:",
          itemCls: "w-itmcls",
          clearCls: "w-clrcls"
        },{
          xtype: "textfield",
          fieldLabel: "Password",
          inputType: "password"
        }
      ]
    }
  });
});
</script>
</body>
</html>
