<html>
<head>
<link rel="stylesheet" type="text/css"  href="http://localhost:8000/ext-3.1.1/resources/css/ext-all.css" />
<script type="text/javascript" src="http://localhost:8000/ext-3.1.1/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="http://localhost:8000/ext-3.1.1/ext-all-debug.js"></script>
</head>
<body>
<style type="text/css">
.w-itmcls {
  border: 1px dotted yellow;
},
.w-clrcls {
  border: 1px dotted green;
  height: 10px;
  content: 'xxx'
}
</style>
<script type="text/javascript">
Ext.BLANK_IMAGE_URL="http://localhost:8000/ext-3.1.1/resources/images/default/s.gif";
Ext.onReady( function() {
  var viewport = new Ext.Viewport({
    items: [{
      xtype: "panel",
      width: 400,
      height: 300,
      layout: "form",
      frame: true,
      title: "Test form",
      labelWidth: 70,
      labelAlign: "right",
      items: [{
        xtype: "textfield",
        fieldLabel: "User",
        labelStyle: "color:gray;font-weight:bolder",
        labelSeparator: "<span style='color:red'>*</span>:",
        itemCls: "w-itmcls",
        clearCls: "w-clrcls"
      },{
        xtype: "textfield",
        fieldLabel: "Password",
        inputType: "password"
      }]
    }]
  });
});
</script>
</body>
</html>
